body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0e0e; /* Темный фон */
    color: #FFFFFF; /* Белый текст */
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main{
    max-width: 360px;
    padding: 20px;
    background-color: #0e0e0e;
    height: 100vh;
    overflow: hidden;
}
.text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 
.option-text{
    font-size: 16px;
    text-align: left;
}
.big-text{
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: bold;
}
.mini-text{
    color: #404040
}
.button{
    display: inline-block;
    padding: 12px 80px;
    border-radius: 32px;
    margin: 20px;
    border: none;
    background-color: #404040;
    transition: opacity 0.3s;
}
.button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.Addition1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 10px;
    margin-bottom: 16px;
}
.Addition2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 10px;
    margin-bottom: 16px;
}
/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
